@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@700&display=swap');

/* Media queries */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html background and body */
html,
body {
  min-width: 290px;
  color: #000;
  background-color: #EFF6EE;
  height: 100%;
}

/* headings and logo */

h1 {
    font-family: 'Merienda', cursive;
    color: #3CB371;
}



h2 {
    font-family: 'EB Garamond', serif;
    letter-spacing: 4px;
    color: #3CB371;
    padding-top: 50px;
    width: 33%;
    float: top;
    padding-left: 0.5%;
}

h3 {
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #E8FCF1;
}

h4 {
  padding-left: 2%;
}

#introte {
  height: 300px;
  max-width: 55%;
  margin: 0 25px 0 25px;
  padding: 0 25px 25px 25px;
  float: center;
  
}

#aboutte {
  height: 300px;
  max-width: 55%;
  margin: 0 25px 0 25px;
  padding: 0 25px 25px 25px;
  float: center;
  
}

#logo {
    float:left;
    font-size: 260%;
    margin-left: 30px;
}

#p {

text-align: center;
line-height: 1.6;
color: #000000;
margin: 15px 0px 0px 20px;
}

.text-align {
  text-align: center;
  position:relative ;
}

.text-align2 {
  text-align:justify ;
  position:relative ;
  box-sizing: border-box;
}

/* navigation links */

#navi {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: end;
    font-size: 1.2em;
    font-weight: ligher;
    box-sizing: border-box;
    padding: 10px;
    background-color: #4EE74B;
}

#navi, #logo {
    line-height: 95%;
    box-sizing: border-box;
}

#navi li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
    padding: .5em;

}

/* About page News seciton */
.imgcontainer {
  justify-content:space-between;
  flex-direction: row;   
  min-height: 40vh;
  max-height: 50vh;
  object-fit: fill;
  max-width: 5%;
  height: auto;
  display: flex;
position: relative;
padding-left: 2%;

  
}
.aboutimg2 {
    
  min-height: 50vh;
  max-height: 60vh;
  object-fit: fill;
  max-width: fit-content;
  height: auto;
  display: flex;
position: relative;
flex-basis: auto;

  
}
.aboutimg3 {
    
  min-height: 50vh;
  max-height: 60vh;
  object-fit:contain;
  max-width:fit-content;
  height: auto;
  display: flex;
position: relative;
flex-basis: auto;
  
}

/* Herbal Teas page */

#herbaltes {
  justify-content:space-between;
  flex-direction: row;   
  height: auto;
  display: flex;
position: relative;
padding-left: 2%;
} 
 
 /* Contact page */
 #contactte {
 justify-content:space-between;
 flex-direction: row;
 padding-left:  10%;
 }
 #survey-form {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
 }

 
/* Footer section */
.main-footer {
    background-color: #4EE74B;
    color: white;
    padding: .35em 0;
    margin-top: auto;
    
  }
  .main-footer-container {
    display: cover;
    align-items: center;
    
  }
  .main-footer-container ul {
    flex-grow: 5;
    text-align: end;
    justify-content: flex-end;
    
    
  }
  .footer-nav li {
    padding: 0 .5em;
    
  }

  
 