@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@700&display=swap');

@media screen and (max-width: 800px);

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* html background and body */
html,
body {
  min-width: 290px;
  color: #000;
  background-color: #EFF6EE;
  height: 100%;
}

/* headings and logo */

h1 {
    font-family: 'Merienda', cursive;
    color: #3CB371;
}



h2 {
    font-family: 'EB Garamond', serif;
    letter-spacing: 4px;
    color: #3CB371;
    padding-top: 50px;
    width: 33%;
    float: top;
}

h3 {
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #E8FCF1;
}

#introte {
  height: 300px;
  max-width: 55%;
  margin: 0 25px 0 25px;
  padding: 0 25px 25px 25px;
  float: center;
  
}

#aboutte {
  height: 300px;
  max-width: 55%;
  margin: 0 25px 0 25px;
  padding: 0 25px 25px 25px;
  float: center;
  
}

#logo {
    float:left;
    font-size: 260%;
    margin-left: 30px;
}

#p {

text-align: center;
line-height: 1.6;
color: #000000;
margin: 15px 0px 0px 20px;
}

/* navigation links */

#navi {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: end;
    font-size: 1.2em;
    font-weight: ligher;
    box-sizing: border-box;
    padding: 10px;
    background-color: #4EE74B;
}

#navi, #logo {
    line-height: 95%;
    box-sizing: border-box;
}

#navi li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
    padding: .5em;

}

/* About page News seciton */
#news-1 {
  background-image: url('/Assets/css/gallery/tea\ news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: fit-content;
  overflow: hidden;
}
#news-2 {
  background-image: url('/Assets/css/gallery/careers\ at\ mellow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:inherit;
  width: fit-content;
  overflow: hidden;
}
#news-3 {
  background-image: url('/Assets/css/gallery/sustainable\ tea.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: inherit;
  width: fit-content;
  overflow: hidden;
}
.news-1, .new-2, .news-3 div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, .6);
  width: 33.3%;
  height: max-content;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  border: 2px solid rgb(19, 9, 9);
  box-sizing: border-box;
}

/* Footer section */
.main-footer {
    background-color: #4EE74B;
    color: white;
    padding: .35em 0;
    margin-top: auto;
    
  }
  .main-footer-container {
    display: cover;
    align-items: center;
    
  }
  .main-footer-container ul {
    flex-grow: 5;
    text-align: end;
    justify-content: flex-end;
    
    
  }
  .footer-nav li {
    padding: 0 .5em;
    
  }

  
 